<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload picture</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">Select File</label>
                <input id="input-1" type="file" class="file" data-preview-file-type="text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="col-md-10 col-md-offset-1">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="../images/business-1536238_1280.jpg">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <a id="avatar" href="#"  ><img alt="" src="{{url}}"></a>
        </div>
        <div class="card-info"> <span class="card-title">{{user.firstName}} {{user.lastName}}</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Main</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <div class="hidden-xs">Information</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Friends</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <div class="hidden-xs">Pictures</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <div class="hidden-xs">Settings</div>
            </button>
        </div>
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                {{#each posts}}
                <div class="container" id="post-container">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="#/user/{{_acl.creator}}"><b>{{author}}</b></a> made a post.
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{content}}</p>
                                <div class="stats">
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>2
                                    </a>
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-share icon"></i>12
                                    </a>
                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Add a comment" type="text">
                                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>  
                    </span>
                                </div>
                                <ul class="comments-list">
                                    <li class="comment">
                                        <a class="pull-left" href="#">
                                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user">Gavino Free</h4>
                                                <h5 class="time">5 minutes ago</h5>
                                            </div>
                                            <p>Test message</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="tab-pane fade in" id="tab2">
                <h3>{{user.username}}</h3>
                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <h3>{{user.email}}</h3>
                <h3>{{user.gender}}</h3>
            </div>
            <div class="tab-pane fade in" id="tab3">
                <h3>This is tab 3</h3>
            </div>
            <div class="tab-pane fade in" id="tab4">
                <h3>This is tab 4</h3>
            </div>
            <div class="tab-pane fade in" id="tab5">
                <h3>This is tab 5</h3>
            </div>
        </div>
    </div>

</div>