<div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form  class="facebook-share-box">
			<div class="share">
				<div class="panel panel-default">
                      <div class="panel-heading"><i class="fa fa-file"></i> Create publication</div>
                      <div class="panel-body">
                        <div class="">
                            <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea> 
						</div>
                      </div>
						<div class="panel-footer">
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<div class="btn-group">
											  <button type="button" class="btn btn-default"><i class="icon icon-map-marker"></i> Location</button>
											  <button type="button" class="btn btn-default"><i class="icon icon-picture"></i> Photo</button>
											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group pull-right">
			                                   
											<input type="button" name="submit" id="post-submit" value="Post" class="btn btn-primary">                               
										</div>
									</div>
								</div>
						</div>
                    </div>
			</div>
			</div>
		</form>
	</div>
	</div>
	</div>
	

    
{{#each this}}
<div class="container post-container" id="" data-id="{{_id}}">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="../images/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#/user/{{_acl.creator}}"><b>{{author}}</b></a>
                        made a post.
                    </div>
                    <h6 class="text-muted time">{{_kmd.ect}}</h6>
                </div>
            </div> 
            <div class="post-description"> 
                <p>{{content}}</p>
                <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a>
                </div>
            </div>
            <div class="post-footer">
                <div class="input-group"> 
                    <input class="form-control comment-input"  placeholder="Add a comment" type="text">
                    <span class="input-group-addon">
                        <a href="#" class="btn-comment"><i class="fa fa-edit"></i></a>  
                    </span>
                </div>
                <ul class="comments-list">
                    {{#each comments}}
                    <li class="comment">
                        <a class="pull-left" href="#">
                            <img class="avatar" src="../images/user_1.jpg" alt="avatar">
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                            <a href="#/user/{{authorId}}"><h4 class="user">{{user}}</h4></a>
                                <h5 class="time">{{date}}</h5>
                            </div>
                            <p><strong>{{text}}</strong></p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}

